# dependencies
/node_modules
blog/node_modules
package-lock.json
# next.js
/.next/
out/

# production
build
/build
blog/dist

# misc
.DS_Store
.env
.env.local
.env.development
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel